body,
html {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  margin-right: 10px;
}
span {
  margin-right: 10px;
}
/* Other Styles */
div {
  padding: 5px;
  margin: 5px;
  /* border: 1px solid rgb(65, 65, 65); */
}

a {
  text-decoration: none;
  color: black;
}
span {
  font-size: 12px;
}

button {
  outline: none;
  background-color: white;
  border: none;
  padding: 10px 20px;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  margin-bottom: 5px;
  background-color: white;
  box-shadow: 2px 3px 6px gray;
  display: flex;
  flex-wrap: nowrap;
}

.nav-brand {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}
.lab-name {
  font-size: 22px;
  font-weight: bolder;
}
.nav-account {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.sidebar {
  flex-grow: 0;
  box-shadow: 2px 3px 10px gray;
}

.sidebar-content {
  height: 100%;
  display: flex;
}

.sidebar-links {
  border: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}
.sidebar-links > img {
  margin: 2px 10px;
}

.sidebar-links:hover {
  background-color: gainsboro;
}
.content {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  box-shadow: -2px 3px 10px gray;
  padding: 0;
  margin: 0;
}
.content-nav > button {
  color: gray;
}

.active-link {
  color: black !important;
}

.content-span {
  font-size: 16px;
  font-weight: bolder;
}

.inner-content {
  width: 100%;
  border-color: red;
  display: flex;
  justify-content: space-between;
}

.content-nav {
  height: 20px;
  border: none;
}

.bottom-nav {
  align-self: flex-start;
  width: 100%;
  height: 30px;
  border: 1px solid rgb(209, 209, 209);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-links > a {
  font-size: 12px;
  border-right: 1px black solid;
  padding-right: 5px;
}
.tab-content {
  display: none;
  width: 100%;
  height: 100%;
}

.tab-content-container {
  flex-grow: 1;
}

.show {
  display: block;
}

.inventory-dropdown {
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.inventory-dropdown > a {
  padding: 10px;
}
.inventory-dropdown > a:hover {
  background-color: gainsboro;
}

.show2 {
    display: flex;
}